body{
    background-color: #999999;
}

h1{
    color:white;
    font-family:"tobyfox_font", monospace;
}
@font-face {
/*font actually makes it look so much better*/
    font-family: tobyfox_font;
    src: url(PixelOperator8.ttf);
}

p{
    color:white;
}

a {
    color:white;
    font-family:"tobyfox_font", monospace;
}
a#nav-white{
    color:white;
}

div#bg-img  {
    /*background-color: lightblue;*/
    width: auto;
    height: 938px;
    background-image: url('maika_practice03.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    /*border: 1px solid red;*/
}

div#bg-img2  {
    /*background-color: lightgreen;*/
    width: 100%;
    height: 938px;
    background-image: url('maika_practice03_flipped.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed    ;
    /*border: 1px solid red;*/
}

h1#title {
    margin: 35px;
}


p#blue {
    color: lightblue;
}

h1#go {
    font-size: 22px;
    color: #cccccc;
}

nav {
    background-color: #666666;
}
